<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); -%>
    <!-- css style -->
    <link rel="stylesheet" href="/css/indexStyle.css">
    <link rel="stylesheet" href="/css/searchStyle.css">
    <title>MusicStreaming | Home</title>
</head>
<body>
  <%- include('layouts/navbar'); -%>
  <%- include('layouts/sidebar'); -%>
    <div id="contents">
        <div class="container">
            <div id="searchresult"></div>
            <div id="searchlist"></div>
        </div> 
    </div>
    <!-- 수정 -->
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
</body>
</html>